body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
p {
  margin: 0;
}
section {
  width: 80%;
  margin: 50px auto 0 auto;
}
header {
  color: #fff;
  background-color: #333;
}
.header_menu {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}
.header_list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
header ul.header_list li {
  margin-left: 20px;
}
header ul.header_list li a {
  text-decoration: none;
  color: #fff;
}
.aboutCard {
  color: #fff;
  border-radius: 10px;
  padding: 15px 20%;
  background: linear-gradient(135deg, #FB0268, #4F8DE0);
}
.aboutCard h2 {
  color: #fff;
  text-align: center;
}
.aboutCard img {
  border-radius: 50%;
  border: 5px solid #fff;
  margin: 15px auto;
  display: block;
}
/* プロダクト */
.product h2 {
  color: #333;
}
nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,3fr));
  gap: 20px;
  padding: 0;
  margin: 0 auto;
}
nav ul li {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.products {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.productsBox {
  text-align: center;
  display: block;
  margin: auto;
}
.productsBox p {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}
.productsBox img {
  border-radius: 10px;
}
.contactForm {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: #333;
}